body{
    background-color: rgb(243, 243, 243);
}
.listul{
       background-color: rgb(118, 199, 193);
    margin: -9px -17px;
    padding: 22px;
    display: -webkit-box;
    text-indent: 55px;
    list-style: none;
}
.listli{
            margin: 7px 214px;
}
.imghome_1{
        margin: 9px -8px; 
}
.some{
    background-color: rgb(235, 235, 235);
        margin: 13px 82px;
}
.butt1{
     margin-left: 976px;
    padding: 12px 32px;
    background-color:rgb(232, 100, 88);
    border-radius: 16px;
}
.color{
    background-color: rgb(248, 248, 248);
    width: 14pc;
    height: 234px;
    margin: 17px 103px;
}
.imgthumb{
    color: red;
   margin: 7px 74px;
    padding: 43px 10px;
}
.SUSPENDISSE{
    margin: -49px 50px;
}
.text{
    margin:78px 11PX;
}
.color1{
        background-color: rgb(248, 248, 248);
    width: 14pc;
    height: 234px;
    margin: -252px 358px;
}
.color2{
        background-color: rgb(248, 248, 248);
    width: 14pc;
    height: 234px;
    margin: 1em 39em;
}
.color3{
     background-color:rgb(248, 248, 248);
    width: 14pc;
    height: 234px;
    margin: -243px 55em;
}
.butt8{
       margin: 18px;
    margin-left: 2em;
    padding: 15px 29px;
    background-color: rgb(232, 100, 88);
    border-radius: 49px;
}
.butt9{
        margin: 23px;
    margin-left: 2em;
    padding: 8px 29px;
    background-color: rgb(118, 199, 193);
    border-radius: 49px;
}
.figca{
    background-color: rgb(235, 235, 235);
    margin: 19em 3em;
    padding: 0;
    width: 76em;
    height: 16em;
}
.textp {
    color: red;
    margin: 19px 12em;
}
.textcenter{
       margin: -21px 210px;
}
.br{
    margin: 83px;
}
.Untitled1{
           margin: -27px 9px;
    padding: 47px 197px;
}
.Untitled2{
    margin: -17em 26em;
}

.Untitled3{
    margin: 4em 810px;
}
.ption{
        background-color:lightcyans;
    margin: -16em 49px;
    width: 76em;
    height: 63em;
}
.Choose{
   margin: 159px 58px;
}
.list{  
        margin: -8em 26px;
}
.Curabitur{
    margin: -168px 320px;
        width: 561px;

}

i{
    color: red;

}
.suspendisse{
    margin: 12em 20em;
}
.Client{
        margin: -348px 39em;
    width: 209px;
}
.condimentum{
        background-color: white;
    margin: 23em 58em;
    width: 216px;
    height: 146px;
}
.JhonDoe{
     margin: -22em 62em;
    width: 207px;
}
.jq{
        /*background-color: aquamarine;*/
       margin: 25em 10em;
    display: inline-flex;
    text-indent: 11px;
}
.jquery{
        margin: -2em 25px;
    background-color: rgb(248, 248, 248);
    width: 39px;
    padding: 23px 35px;
}
.abc{
    background-color: rgb(118, 199, 193);
}
.versus{   
    margin: 17px 82px;
    color: white;
}
.Lorem{
   margin: 34px 57px;
    color: white;
}
.email{
        margin: 4px 56px;
    color: white;
}